@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* For the header */
.HeaderRow {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 6ch 30ch 30ch 13ch 1fr 13ch 13ch; 
  grid-gap: 0.5em;
  padding-top: 0.5em;
  text-align: center;
  font-weight: 500;
}

.header {
  color: antiquewhite;
  background-color: #974315db;
  text-align: center;
  border-radius: 3px;
}

.HeaderRow * {
  padding: 10px
}

/* For each user */

.UserRow {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 6ch 30ch 30ch 13ch 1fr 13ch 13ch; 
  grid-gap: 0.5em;
  padding-top: 0.5em;
  text-align: center;
  font-weight: 500;
}

.cell {
  background-color: antiquewhite;
  color: #974315db;
  text-align: center;
  word-wrap: break-word;
  border-radius: 3px;
}

.UserRow * {
  padding: 10px
}

/* Button to add users */

#addUser {
  background-color: #974315db;
  color: antiquewhite;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  /* width: 104%; */
}

#Filter {
  margin-right: auto;
  border-color: #974315db;
}


.AddUserContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Takes up the full width of the screen */
  height: 100vh; /* Takes up the full height of the screen */
  background: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddUserForm {
  background-color: rgb(255, 252, 246)/*rgb(200, 239, 251)*/;
  width: 550px;
  height: 550px;
  border-radius: 10px;
  border: 3px solid transparent;
  border-color: #974315db;
  padding: 2em;
  color: #974315db;
  font-weight: 500;
  font-size: 1.1rem;
  z-index: 10;

  padding: 1.5em 1.5em;
}

.statusContainer {
  display: flex;
  padding-top: 1em;  
  padding-bottom: 1em;
}

.statusButton {
  border-color: antiquewhite;
  color: #974315db;
  border-radius: 20px;
  margin-right: 3em;
  background-color: antiquewhite;
  border-width: 2px;
  margin-bottom: 5px;
}

.clicked {
  background-color: #9cff9c !important;
  color: rgb(255, 245, 231) !important;
  border-color: #9cff9c !important;
}

.formText{
  background-color: antiquewhite;
  margin-left: 10px;
  border-color: antiquewhite;
  color: #974315db;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 1.1rem;
  margin-top: 10px;
  padding: 0px 5px;
}

.submitButton {
  background-color: #974315db;
  color: antiquewhite;
  margin-left: auto;
  margin-top: 0.5em;
}

.subButtonContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-bottom: 20px;
}

#ErrorMsg {
  margin-top: 20px;
  color: rgb(252, 116, 116);
}

.ExitButton {
  background-color: antiquewhite;
  color: #974315db;
  text-align: center;
}

.ExitContainer {
  display: flex;
  justify-content: end;
}


/* Updating user */

.Update:hover {
  cursor: pointer;
}

/* Deleting user */


.DeleteButton {
  background-color: rgb(255, 252, 246);
  margin-right: auto;
}

.DeleteButton:hover {
  border-color: rgb(255, 252, 246);
  
}

/* Flipping page */

.PageFlipContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 1.5em;
}

.PageFlipContainer *{
  margin: 10px;
}


#NextPageIcon {
  transform: scaleX(-1);
  z-index: 0;
}

#PrevPage {
  color: #ffd558;
  margin-right: 80px;
  margin-left: 0px;
  font-size: 0.9em;
  font-weight: 500;
}

#NextPage {
  color: #ffd558;
  font-size: 0.9em;
  margin-right: 0px;
  font-weight: 500;
  
}

#PrevPage:hover {
  cursor: pointer;
}

#PrevPageIcon:hover {
  cursor: pointer;
}

#NextPage:hover {
  cursor: pointer;
}

#NextPageIcon:hover {
  cursor: pointer;
}

#Filter {
  color: #974315db;
  border-width: 2px;
}

#Filter:hover {
  border-color: #974315db;
  border-width: 2.5px;
}

.withFilter {
  background-color: antiquewhite;
  border-radius: 8px;
  height: 300px;
  width: 100%;
  margin-top: 7px;
  color: #974315db;
  font-weight: 500;
  padding: 10px 20px;
}

.dateLabel {
  margin-right: 10px;
}

.DateContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.clickedFilt {
  background-color: antiquewhite;
  border-color: #974315db;
  border-width: 2px;
  border-radius: 8px;
}



/* Search bar */
#SearchBar {
  color: #974315db;
}

.SearchTextBox{
  color:#974315db;
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 8px;
  font-weight: 500;
}




