#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* For the header */
.HeaderRow {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr 1fr 1fr; 
  grid-gap: 0.5em;
  padding-top: 0.5em;
  text-align: center;

}

.header {
  color: antiquewhite;
  background-color: #974315db;
  text-align: center;
}

.HeaderRow * {
  padding: 10px
}

/* For each user */

.UserRow {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr 1fr 1fr; 
  grid-gap: 0.5em;
  padding-top: 0.5em;
  text-align: center;
}

.cell {
  background-color: antiquewhite;
  color: #974315db;
  text-align: center;
}

.UserRow * {
  padding: 10px
}

/* Button to add users */

#addUser {
  background-color: #974315db;
  color: antiquewhite;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
}


.AddUserContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Takes up the full width of the screen */
  height: 100vh; /* Takes up the full height of the screen */
  background: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddUserForm {
  background-color: white/*rgb(200, 239, 251)*/;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  border: 3px solid transparent;
  border-color: #974315db;
  padding: 2em;
  color: #974315db;
  font-weight: 500;
  font-size: 1.1rem;
}

.statusContainer {
  display: flex;
  padding-top: 1em;  
  padding-bottom: 1em;
}

.statusButton {
  border-color: #974315db;
  color: #974315db;
  border-radius: 20px;
  margin-right: 3em;
  background-color: antiquewhite;
  border-width: 2px;
}

.clicked {
  background-color: #9cff9c !important;
  color: rgb(255, 245, 231) !important;
  border-color: #9cff9c !important;
}

.formText{
  background-color: antiquewhite;
  margin-left: 10px;
  border-color: antiquewhite;
  color: #974315db;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.1rem;
  margin-top: 10px;
}

.submitButton {
  background-color: #974315db;
  margin-top: 1rem;
  
}

.subButtonContainer {
  display: flex;
  justify-content: end;
}




